.navbar-light .navbar-nav .nav-link {
  color: rgb(115 76 76 / 50%);
}

.navbar-nav :focus {
  background-color: rgb(157, 172, 241) !important;
  border-radius: 6px;
}
.nav-link:focus {
  color: whitesmoke !important;
}
.navbar-text {
  color: rgb(157, 172, 241);
}
